<!-- Education Section -->
    <section id="education" class="education">
        <div class="container">
            <h2 class="fade-in">Education</h2>
            <div class="education-card fade-in">
                <h3>Cambodia Academy of Digital Technology (CADT)</h3>
                <div class="degree">Bachelor Degree of Computer Science<br>Specializing in Software Engineering</div>
                <div class="period">2023 - Present</div>
            </div>
            <br>
            <div class="education-card fade-in">
                <h3>Australian Centre for Education (ACE)</h3>
                <div class="degree">General English Program</div>
                <div class="period">Jan 2023 - Apr 2025</div>
            </div>
        </div>
    </section> 