   <section id="home" class="hero">
        <div class="hero-content fade-in">
            <div class="hero-left">
                <div class="avatar">
                    <img 
                        src="assets/images/animation.png" 
                        alt="Profile Avatar" 
                        width="400" 
                        height="500"
                        fetchpriority="high"
                        loading="eager"
                    />
                </div>
            </div>
            <div class="hero-right">
                <h1>KHOV SOMAWATEY</h1>
                <p class="subtitle">I'm a Web Developer Intern.</p>
                <div class="description">
                    <p>Currently, I'm a 3rd year student at Cambodia Academy of Digital Technology(CADT) major Computer Science specialize Software Engineer.</p>
                    <br>
                    <p>I am an optimistic and adaptable Web/App Developer who performs well in team environments. With a strong passion for taking on new challenges, I quickly learn new skills and apply them to deliver effective solutions. My positive attitude and commitment to growth drive me to contribute meaningfully to any project I'm involved in.</p>
                </div>
                
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/somawatey-khov-954a77241" target="_blank" class="social-link linkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="mailto:somavatey.khov@gmail.com" class="social-link gmail">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <a href="https://t.me/Somawateyy" class="social-link whatsapp">
                        <i class="fab fa-telegram"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>